<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <title>Mercado Liebre</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-main">
        <div class="contenedor-1200">
            <%- include('./partials/ultimaVista')  %>
            <%- include('./partials/ofertas')  %>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>