<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="contenedor-login">
        <div>
            <form action="/users/login" method="POST">
                <div class="form-login">
                    <% if (locals.error && error.email) { %>
                        <h3>
                            <%= error.email.msg %> 
                        </h3>
                    <% } %>
                    <div class="div-login">
                        <input type="text" name="nomusu" id="nomusu" value="<%= locals.oldData && oldData.nomusu ? oldData.nomusu : null %>" placeholder="Nombre de usuari@" class="input-login">
                        <% if (locals.errors && errors.nomusu) { %>
                            <h4><%= errors.nomusu.msg %></h4>
                        <% } %>
                    </div>
                    <div class="div-login">
                        <input type="password" name="contra" id="contra" placeholder="Contraseña" class="input-login">
                        <% if (locals.errors && errors.contra) { %>
                            <h4><%= errors.contra.msg %></h4>
                        <% } %>
                    </div>
                    <div class="div-login">
                        <input type="checkbox" name="recordame" id="recordame">
                        <label for="recordame">Mantener sesion iniciada</label>
                    </div>
                    <div class="div-login">
                        <button type="submit" class="input-login boton-enviar">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>