<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Registro</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="borde-form">
            <div class="form-crear borde-prod">
                <form action="/users/register" method="POST" class="formulario" enctype="multipart/form-data">
                    <div>
                        <input type="text" name="nomape" id="nomape" value="<%= locals.oldData ? oldData.nomape : null %>" placeholder="Nombre y apellido" minlength="4">
                        <% if (locals.errors && errors.nomape) { %>
                            <h3>
                                <%= errors.nomape.msg %> 
                            </h3>
                        <% } %>
                    </div>
                    <div>
                        <input type="text" name="nomusu" id="nomusu" value="<%= locals.oldData ? oldData.nomusu : null %>" placeholder="Nombre de usuario" minlength="4">
                        <% if (locals.errors && errors.nomusu) { %>
                            <h3>
                                <%= errors.nomusu.msg %> 
                            </h3>
                        <% } %>
                    </div>
                    <div>
                        <input type="email" name="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder="E-Mail">
                        <% if (locals.errors && errors.email) { %>
                            <h3>
                                <%= errors.email.msg %> 
                            </h3>
                        <% } %>
                    </div>
                    <div>
                        <label for="fecha">Fecha de nacimiento</label>
                        <input type="date" name="fecha" id="fecha"> 
                    </div>
                    <div>
                        <input type="text" name="dom" id="dom" placeholder="Domicilio">
                    </div>
                    <div>
                        <label for="perfil">Perfil de usuario</label><br>
                        <label for="vend">Vendedor</label>
                        <input type="radio" name="perfil" value="vend">
                        <label for="comp">Comprador</label>
                        <input type="radio" name="perfil" value="comp">
                    </div>
                    <div>
                        <label for="categorias">Categorías de interes (puede elegir mas de una)</label><br>
                        <input type="checkbox" name="categorias" value="elec">Electro<br>
                        <input type="checkbox" name="categorias" value="moda">Moda<br>
                        <input type="checkbox" name="categorias" value="hog">Hogar<br>
                        <input type="checkbox" name="categorias" value="jug">Juguetería<br>
                        <input type="checkbox" name="categorias" value="vida">Vida sana<br>
                    </div>
                    <div>
                        <label for="foto">Foto de usuario</label>
                        <input type="file" name="foto" id="foto" accept="image/*">
                        <% if (locals.errors && errors.foto) { %>
                            <h3>
                                <%= errors.foto.msg %> 
                            </h3>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="contra" id="contra" placeholder="Contraseña">
                        <% if (locals.errors && errors.contra) { %>
                            <h3>
                                <%= errors.contra.msg %> 
                            </h3>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="confirmar" id="confirmar" placeholder="Confirmar contraseña">
                        <% if (locals.errors && errors.confirmar) { %>
                            <h3>
                                <%= errors.confirmar.msg %> 
                            </h3>
                        <% } %>
                        <% if (locals.error && error.contra) { %>
                            <h4>
                                <%= error.contra.msg %> 
                            </h4>
                        <% } %>
                    </div>
                    <div>
                        <button type="submit" class="boton-enviar">Enviar</button>
                        <button type="reset" class="boton-borrar">Borrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>