<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Vender</title>
</head>
<body>
    <%- include('./partials/header') %>
    <h1>Crear producto</h1>
    <div class="borde-form">
        <div class="form-crear borde-prod">
            <form action="/productos/vender" method="POST" enctype="multipart/form-data" class="formulario">
                <div>
                    <input type="text" id="nombre" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>" placeholder="Nombre">
                    <% if (locals.errors && errors.nombre) { %>
                        <h3><%= errors.nombre.msg %> </h3>
                    <% } %>
                </div>
                <div>
                    <input type="number" id="precio" name="precio" value="<%= locals.oldData ? oldData.precio : null %>" placeholder="Precio">
                    <% if (locals.errors && errors.precio) { %>
                        <h3><%= errors.precio.msg %> </h3>
                    <% } %>
                </div>
                <div>
                    <input type="number" name="descuento" placeholder="Descuento">
                </div>
                <div>
                    <label for="rutaImg">Foto de producto</label>
                    <input type="file" name="cImage" id="cImage" accept="image/*">
                    <% if (locals.errors && errors.cImage) { %>
                        <h3>
                            <%= errors.cImage.msg %> 
                        </h3>
                    <% } %>
                </div>
                <div>
                    <label for="category">Categoría:</label>
                    <select name="category">
                        <option value="elec">
                            Electro
                        </option>
                        <option value="moda">
                            Moda
                        </option>
                        <option value="hog">
                            Hogar
                        </option>
                        <option value="jug" selected>
                            Juguetería
                        </option>
                        <option value="vida">
                            Vida Sana
                        </option>
                    </select>
                </div>
                <div>
                    <label for="description">Descripción del producto</label><br>
                    <textarea name="description" id="description" cols="30" rows="10"><%= locals.oldData ? oldData.description : null %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <h3><%= errors.description.msg %> </h3>
                    <% } %>
                </div>
                <div>
                    <button type="submit" class="boton-enviar">Crear</button>
                    <button type="reset" class="boton-borrar">Borrar</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>